html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: 'Karla', sans-serif;
  background-color: #E5E5E5;
}

body::-webkit-scrollbar {
  display: none;
}

.all-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 650px;
  max-height: 650px;
}


/* Media Queries (Phone) */
 
@media screen and (max-width: 550px) {
  .all-content {
    width: 85%;
  }
}